html {
    scroll-behavior: smooth;
}

* {
    /* color: black; */
    font-family: 'Poppins', sans-serif;
}

body {
    /* background: linear-gradient(#43b9dc, #34d3b4); */
    background: url(img/calorie.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.mycal {
    margin-bottom: 30px;
}

.blue_button {
    background: linear-gradient(#43b9dc, #34d3b4);
    border-bottom: 3px solid #3277BC;
    border: medium none;
    border-radius: 0.3em;
    color: white;
    cursor: pointer;
    margin: 10px 0;
    padding: 7px 14px;
    width: 30%;
}

.resp_code .button {
    text-align: center;
}

.resp_code img {
    height: 50px;
}

.age,
.fat,
.protein,
.carbohydrate,
.alcohol {
    display: flex;
    justify-content: space-around;
    
}

.resp_code {
    background-color: rgba(181, 181, 181, 0.3);
    background-size: cover;
    border: 1px solid #ddd;
    border-radius: 0.25em;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
    margin: auto;
    /* margin: 5px 10px 10px 20%; */
    overflow: auto;
    /* padding: 10px 20px; */
    padding: 20px 30px 90px 30px;
    width: 70%;

}

@media only screen and (max-width:650px) {
    .resp_code {
        margin: 5px 1px 10px !important;
        width: auto !important;
    }
}